<% if !@versions.empty? %>
  <% @versions.each do |version| %>
    <% user = User.find(version.whodunnit) %>
    <%= link_to user.email, admin_user_path(user) %>

    <%= version.event %>
    at
    <%= version.created_at %>
    <br>
    <table style="border-collapse: collapse;">
      <tr>
        <th>attr</th>
        <th>old</th>
        <th>new</th>
      </tr>
      <% version.changeset.each do |k, v| %>
        <% next if k.in?(["updated_at", "created_at"]) %>

        <% old_value = v[0] ; new_value = v[1] %>
        <%
          if k.include?('url')
            old_value = link_to("Old link", old_value)
            new_value = link_to("New link", new_value)
          end
        %>

        <tr style="border-bottom:1pt solid #e3dbdb;">
          <td><%= k %></td>
          <td><%= old_value %></td>
          <td><%= new_value %></td>
        </tr>
      <% end %>
    </table>
    <hr />
  <% end %>
<% else %>
  <p>This item does not have any registered version.</p>
<% end %>
